<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='styles.css' rel='stylesheet'>
		<!--Title-->
		<title>Instructions</title>
	</head>
	<body>
		<h1>🦠Instructions🦠</h1>
	  <form action="/login" method="post">
		<p>The objective of this game is to dodge the corona virus for as long as possible. </p>
    <p>You have an initial 3 lives ❤️❤️❤️</p>
    <p>If you collide with the virus. you lose a life ❤️❤️</p>
    <p>If you collide with a mask, you gain a life ❤️❤️❤️</p> 
		<h4>Use your keyboard arrows to control the player.</h4>
    </form>
		<div class='middle'>
			<a href="https://covid-dodge-login.invtrdan.repl.co/login">
				<button>Play Game</button>
			</a> 
		</div>
    <div class='middle'>
			<a href="https://covid-dodge-login.invtrdan.repl.co">
				<button>Home</button>
			</a> 
		</div>
	</body>
</html>