<!--Instructions html file-->
<!DOCTYPE html>
<html>
	<head>
		<!--parameters-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='styles.css' rel='stylesheet'>
			
		<!--Title-->
		<title>Instructions</title>
	</head>
	<!--Display the entire instructions page-->
	<body>
		<!--Display the title-->
		<h1>🦠Instructions🦠</h1>
	
		<!--Display the instructions-->
		<p>The objective of this game is to dodge the corona virus for as long as possible. </p>
    <p>You have an initial 3 lives ❤️❤️❤️</p>
    <p>If you collide with the virus. you lose a life ❤️❤️</p>
    <p>If you collide with a mask, you gain a life ❤️❤️❤️</p> 


		<!--Display a secondary title-->
		<h4>Use your keyboard arrows to control the player.</h4>

		<!--Link to the start screen-->
		<div class='middle'>
			<a href="https://covid-dodge-login.invtrdan.repl.co/signin">
				<button>Login or Sign up</button>
			</a> 
		</div>
	</body>
</html>