<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>leaderboard</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="">
<style>
</style>
<script src=""></script>
<body>

<div class="">
 <h1>🦠COVID DODGE LEADERBOARD🦠</h1>
 <form action="/leaderboard" method="post"> 
 </form> 
 <h2>1. {{number1}} </h2>
 <h2>2. {{number2}} </h2>
 <h2>3. {{number3}} </h2>
 <h2>4. {{number4}} </h2>
 <h2>5. {{number5}} </h2>
  <div class='middle'>
			<a href="https://covid-dodge-login.invtrdan.repl.co">
				<button>Home</button>
			</a> 
		</div>
</div>

</body>
</html>