<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>leaderboard</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="">
<style>
</style>
<script src=""></script>
<body>

<div class="">
 <h1>🦠Login or Sign Up!🦠</h1>
 <form action="/leaderboard" method="post">
   <br>
   <h3>Enter Username:</h3>
   <input type="text" username="name_input">
   <br>
   <h3>Enter Score:</h3>
   <input type="number" username="score_input">
   <br>
   <input type="submit" value="submit" id="submit">
 </form>
  
</div>

</body>
</html>